.playground {
  background: #ddd;
  display: inline-block;
  max-height: calc(100vh - 40px);
  overflow: hidden;
  position: relative;

  .red {
    background-color: #e21f24;
  }

  .green {
    background-color: #27ad4a;
  }

  .blue {
    background-color: #1E90FF;
  }

  .yellow {
    background-color: #fcb832;
  }

  .purple {
    background-color: #9400D3;
  }
}

.grid .cells-row {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;

  .cell > div {
    border-radius: 20%;
    height: 100%;
    position: relative;
    width: 100%;

    &.merge-bottom {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &.merge-left {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    &.merge-right {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    &.merge-top {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    &::after {
      background: linear-gradient(160deg, rgba(255, 255, 255, .5) 0%, transparent 50%);
      background-clip: content-box;
      border-radius: inherit;
      box-sizing: border-box;
      content: '';
      height: 100%;
      left: 0;
      padding: 2px;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

.block {
  position: absolute;
  z-index: 10000;

  svg {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .5;
  }

  .first, .second {
    > div {
      border-radius: 20%;

      &::after {
        background: linear-gradient(160deg, rgba(255, 255, 255, .5) 0%, transparent 50%);
        background-clip: content-box;
        border-radius: inherit;
        box-sizing: border-box;
        content: '';
        height: 100%;
        left: 0;
        padding: 2px;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }

  .first {
    position: absolute;
    z-index: -1;
  }

  .second > div {
    animation: border .5s ease-in-out infinite;
    border: 2px solid transparent;
    border-color: #fff;

    @keyframes border {
      0%, 60% {
        border-color: #fff;
      }
      40% {
        border-color: transparent;
      }
    }
  }
}
